@media only screen and (max-width: 500px) {	
	* { box-sizing: border-box }
	html,body,header,figure,main,section,sidebar,footer { border: 1px solid black }
	html {}
	body { margin: 0; position: relative; }
	header#home, figure#home, main#home, section#home, sidebar#home, footer#home { text-align: center; }
	header#home { background: #2c97df; }
	figure#home { margin: 0; }
	main#home {  }
	section#home { }
	sidebar#home {  }
	footer#home {  }

	ul.collapsable:before { content: "Menu" }
	ul.collapsable li { display: none; }

	header#home nav#home ul, figure#home ul#slider, sidebar#home ul, footer#home div#social_area ul { margin: 0; padding: 0 }
	header#home nav#home li, figure#home ul#slider li, sidebar#home ul li, footer#home div#social_area ul li { list-style-type: none; padding: 10px; white-space: nowrap; }

	header#home span#site_id { display:inline-block; }
	header#home span#site_id img, header#home span#site_id h1 { vertical-align: middle }
	header#home span#site_id h1{ display: inline; }

	main#home div#post_container article.post img { max-width: 100% }

	.col-1 { width: 8.33%; }
	.col-2 { width: 16.66%; }
	.col-3 { width: 25%; }
	.col-4 { width: 33.33%; }
	.col-5 { width: 41.66%; }
	.col-6 { width: 50%; }
	.col-7 { width: 58.33%; }
	.col-8 { width: 66.66%; }
	.col-9 { width: 75%; }
	.col-10 { width: 83.33%; }
	.col-11 { width: 91.66%; }
	.col-12 { width: 100%; }
}